.tblEstilo{
    border: 2px solid #f2f2f2;
    border-collapse: collapse;
    margin: 0 auto;

    & thead{
        background-color: blue;

        & th{
            border: 2px solid #f2f2f2;
            text-align: center;
        }
    }

    & tbody{
        & tr{
            &:hover{
                background-color: #f2f2f2;
            }

            & td{
                border: 2px solid #ccc;

                &:first-child{
                    text-align: center;
                }
                &:last-child{
                    text-align: center;
                }
            }
        }
    }

    & tfoot{
        & tr{
            & td{
                border: 2px solid #ccc;
                text-align: center;
            }
        }
    }

}

  